# Use this notebook for your 3 choices of APIs

In [1]:
# Create a dataframe of the available data and think of a project that you could do with that data.

# 1. First API choice 
    https://lookup.binlist.net/45717360

In [2]:
import requests

In [3]:
bin_list = requests.get("https://lookup.binlist.net/45717360")
print("bin_list:", bin_list.status_code)

bin_list: 200

In [4]:
# 200: Everything went okay and the result has been returned (if any).

In [5]:
# One common way to express data in jason is [a list] [containing dictionaries {}, {}, {}]
import json

In [6]:
response = requests.get('https://lookup.binlist.net/45717360')
response.content
print(len(response.text))

319

In [7]:
# Jason looks into the content part of response (string) and tries to make python data structure out of it
results = response.json()
results

{'number': {'length': 16, 'luhn': True},
 'scheme': 'visa',
 'type': 'debit',
 'brand': 'Visa/Dankort',
 'prepaid': False,
 'country': {'numeric': '208',
  'alpha2': 'DK',
  'name': 'Denmark',
  'emoji': 'ðŸ‡©ðŸ‡°',
  'currency': 'DKK',
  'latitude': 56,
  'longitude': 10},
 'bank': {'name': 'Jyske Bank',
  'url': 'www.jyskebank.dk',
  'phone': '+4589893300',
  'city': 'HjÃ¸rring'}}

In [8]:
import pandas as pd
pd.set_option("display.max_rows", None)

data = pd.DataFrame(results)
#data = data[["userId", "id", "title", ]]
data

,number,scheme,type,brand,prepaid,country,bank
length,16,visa,debit,Visa/Dankort,False,NaN,NaN
luhn,True,visa,debit,Visa/Dankort,False,NaN,NaN
numeric,NaN,visa,debit,Visa/Dankort,False,208,NaN
alpha2,NaN,visa,debit,Visa/Dankort,False,DK,NaN
name,NaN,visa,debit,Visa/Dankort,False,Denmark,Jyske Bank
emoji,NaN,visa,debit,Visa/Dankort,False,ðŸ‡©ðŸ‡°,NaN
currency,NaN,visa,debit,Visa/Dankort,False,DKK,NaN
latitude,NaN,visa,debit,Visa/Dankort,False,56,NaN
longitude,NaN,visa,debit,Visa/Dankort,False,10,NaN
url,NaN,visa,debit,Visa/Dankort,False,NaN,www.jyskebank.dk
phone,NaN,visa,debit,Visa/Dankort,False,NaN,+4589893300
city,NaN,visa,debit,Visa/Dankort,False,NaN,HjÃ¸rring

In [9]:
data.columns

Index(['number', 'scheme', 'type', 'brand', 'prepaid', 'country', 'bank'], dtype='object')

def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [10]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(data[column].to_list()).transpose()  # Directly use to_list() instead of dict()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [11]:
pd.set_option("display.max_columns", None)
nested_columns = ['number', 'country', 'bank']

flat = flatten(data, nested_columns)
flat.head(60)

,scheme,type,brand,prepaid,number_0,number_1,number_2,number_3,number_4,number_5,number_6,number_7,number_8,number_9,number_10,number_11,country_0,country_1,country_2,country_3,country_4,country_5,country_6,country_7,country_8,country_9,country_10,country_11,country_12,bank_0,bank_1,bank_2,bank_3,bank_4,bank_5,bank_6,bank_7,bank_8,bank_9,bank_10,bank_11,bank_12
length,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
luhn,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
numeric,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alpha2,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emoji,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
url,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phone,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,visa,debit,Visa/Dankort,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,16,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208,DK,Denmark,ðŸ‡©ðŸ‡°,DKK,56,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jyske Bank,NaN,NaN,NaN,NaN,www.jyskebank.dk,+4589893300,HjÃ¸rring,NaN

In [12]:
# Does not work to well with lists, better for dictionaries in dictionaries

from pandas.io.json import json_normalize

results = response.json()
# flattened_data = json_normalize(results)
flattened_data = json_normalize(results, record_path=None, errors='ignore')
flattened_data.head()

C:\Users\49174\AppData\Local\Temp\ipykernel_23140\3370621788.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results, record_path=None, errors='ignore')

,scheme,type,brand,prepaid,number.length,number.luhn,country.numeric,country.alpha2,country.name,country.emoji,country.currency,country.latitude,country.longitude,bank.name,bank.url,bank.phone,bank.city
0,visa,debit,Visa/Dankort,False,16,True,208,DK,Denmark,ðŸ‡©ðŸ‡°,DKK,56,10,Jyske Bank,www.jyskebank.dk,+4589893300,HjÃ¸rring

# 2. Second API choice 
http://www.boredapi.com/api/activity/

In [13]:
Gov_uk = requests.get("https://www.gov.uk/bank-holidays.json")
print("Gov:", Gov_uk.status_code)

Gov: 200

In [58]:
#print(Gov_uk)
#print(len(Gov_uk.content)) # needs subsciption key?
#print(Gov_uk.content) # This string is in jason format (two field status code and message)

In [59]:
#print(Gov_uk.text)

In [16]:
import json

In [17]:
response = requests.get('https://www.gov.uk/bank-holidays.json')
response.content
print(len(response.text))

17758

In [60]:
# Jason looks into the content part of response (string) and tries to make python data structure out of it
results = response.json()
#results

In [19]:

data = pd.DataFrame(results)

In [20]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [21]:
pd.set_option("display.max_columns", None)
nested_columns = ['england-and-wales']

In [22]:
flat = flatten(data, nested_columns)
flat.head(5)

,scotland,northern-ireland,england-and-wales_0,england-and-wales_1,england-and-wales_2,england-and-wales_3,england-and-wales_4,england-and-wales_5,england-and-wales_6,england-and-wales_7,england-and-wales_8,england-and-wales_9,england-and-wales_10,england-and-wales_11,england-and-wales_12,england-and-wales_13,england-and-wales_14,england-and-wales_15,england-and-wales_16,england-and-wales_17,england-and-wales_18,england-and-wales_19,england-and-wales_20,england-and-wales_21,england-and-wales_22,england-and-wales_23,england-and-wales_24,england-and-wales_25,england-and-wales_26,england-and-wales_27,england-and-wales_28,england-and-wales_29,england-and-wales_30,england-and-wales_31,england-and-wales_32,england-and-wales_33,england-and-wales_34,england-and-wales_35,england-and-wales_36,england-and-wales_37,england-and-wales_38,england-and-wales_39,england-and-wales_40,england-and-wales_41,england-and-wales_42,england-and-wales_43,england-and-wales_44,england-and-wales_45,england-and-wales_46,england-and-wales_47,england-and-wales_48,england-and-wales_49,england-and-wales_50,england-and-wales_51,england-and-wales_52,england-and-wales_53,england-and-wales_54,england-and-wales_55,england-and-wales_56,england-and-wales_57,england-and-wales_58,england-and-wales_59,england-and-wales_60,england-and-wales_61,england-and-wales_62,england-and-wales_63,england-and-wales_64,england-and-wales_65,england-and-wales_66
division,scotland,northern-ireland,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales,england-and-wales
events,"[{'title': 'New Yearâ€™s Day', 'date': '2018-01-...","[{'title': 'New Yearâ€™s Day', 'date': '2018-01-...","{'title': 'New Yearâ€™s Day', 'date': '2018-01-0...","{'title': 'Good Friday', 'date': '2018-03-30',...","{'title': 'Easter Monday', 'date': '2018-04-02...","{'title': 'Early May bank holiday', 'date': '2...","{'title': 'Spring bank holiday', 'date': '2018...","{'title': 'Summer bank holiday', 'date': '2018...","{'title': 'Christmas Day', 'date': '2018-12-25...","{'title': 'Boxing Day', 'date': '2018-12-26', ...","{'title': 'New Yearâ€™s Day', 'date': '2019-01-0...","{'title': 'Good Friday', 'date': '2019-04-19',...","{'title': 'Easter Monday', 'date': '2019-04-22...","{'title': 'Early May bank holiday', 'date': '2...","{'title': 'Spring bank holiday', 'date': '2019...","{'title': 'Summer bank holiday', 'date': '2019...","{'title': 'Christmas Day', 'date': '2019-12-25...","{'title': 'Boxing Day', 'date': '2019-12-26', ...","{'title': 'New Yearâ€™s Day', 'date': '2020-01-0...","{'title': 'Good Friday', 'date': '2020-04-10',...","{'title': 'Easter Monday', 'date': '2020-04-13...","{'title': 'Early May bank holiday (VE day)', '...","{'title': 'Spring bank holiday', 'date': '2020...","{'title': 'Summer bank holiday', 'date': '2020...","{'title': 'Christmas Day', 'date': '2020-12-25...","{'title': 'Boxing Day', 'date': '2020-12-28', ...","{'title': 'New Yearâ€™s Day', 'date': '2021-01-0...","{'title': 'Good Friday', 'date': '2021-04-02',...","{'title': 'Easter Monday', 'date': '2021-04-05...","{'title': 'Early May bank holiday', 'date': '2...","{'title': 'Spring bank holiday', 'date': '2021...","{'title': 'Summer bank holiday', 'date': '2021...","{'title': 'Christmas Day', 'date': '2021-12-27...","{'title': 'Boxing Day', 'date': '2021-12-28', ...","{'title': 'New Yearâ€™s Day', 'date': '2022-01-0...","{'title': 'Good Friday', 'date': '2022-04-15',...","{'title': 'Easter Monday', 'date': '2022-04-18...","{'title': 'Early May bank holiday', 'date': '2...","{'title': 'Spring bank holiday', 'date': '2022...","{'title': 'Platinum Jubilee bank holiday', 'da...","{'title': 'Summer bank holiday', 'date': '2022...",{'title': 'Bank Holiday for the State Funeral ...,"{'title': 'Boxing Day', 'date': '2022-12-26', ...","{'title': 'Christmas Day', 'date': '2022-12-27...","{'title': 'New Yearâ€™s Day', 'date': '2023-01-0...","{'title': 'Good Friday', 'date': '2023-04-07',...","{'title': 'Easter Monday', 'date': '2023-04-10...","{'title': 'Early May bank holiday', 'date': '2...",{'title': 'Bank holiday for the coronation of ...,"{'title': 'Spring bank holiday', 'date': '2023...","{'title': 'Summer bank holiday', 'date': '2023...","{'title': 'Christmas Day', 'date': '2023-12-25...","{'title': 'Boxing Day', 'date': '2023-12-26', ...","{'title': 'New Yearâ€™s Day', 'date': '2024-01-0...","{'title': 'Good Friday', 'date': '2024-03-29',...","{'title': 'Easter Monday', 'date': '2024-04-01...","{'title': 'Early May bank holiday', 'date': '2...","{'title': 'Spring bank holiday', 'date': '2024...","{'title': 'Summer bank holiday', 'date': '2024...","{'title': 'Christmas Day', 'date': '2024-12-25...","{'title': 'Boxing Day', 'date': '2024-12-26', ...","{'title': 'New Yearâ€™s Day', 'date': '2025-01-0...","{'title': 'Good Friday', 'date': '2025-04-18',...","{'title': 'Easter Monday', 'date': '2025-04-21...","{'title': 'Early May bank holiday', 'date': '2...","{'title': 'Spring bank holiday', 'date': '2025...","{'title': 'Summer bank holiday', 'date': '2025...","{'title': 'Christmas Day', 'date': '2025-12-25...","{'title': 'Boxing Day', 'date': '2025-12-26', ..."

In [23]:
# Takes the results and flattens it into a dataframe
# I get a lot of columns 

from pandas.io.json import json_normalize

results = response.json()
flattened_data = json_normalize(results)

flattened_data.head(30)

C:\Users\49174\AppData\Local\Temp\ipykernel_23140\4038581993.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results)

,england-and-wales.division,england-and-wales.events,scotland.division,scotland.events,northern-ireland.division,northern-ireland.events
0,england-and-wales,"[{'title': 'New Yearâ€™s Day', 'date': '2018-01-...",scotland,"[{'title': 'New Yearâ€™s Day', 'date': '2018-01-...",northern-ireland,"[{'title': 'New Yearâ€™s Day', 'date': '2018-01-..."

In [24]:
flattened_data['england-and-wales.events'][0]

[{'title': 'New Yearâ€™s Day',
  'date': '2018-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2018-03-30', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2018-04-02',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2018-05-07',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2018-05-28',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2018-08-27',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2018-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2018-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2019-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2019-04-19', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2019-04-22',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2019-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2019-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2019-08-26',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2019-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2019-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2020-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2020-04-10', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2020-04-13',
  'notes': '',
  'bunting': False},
 {'title': 'Early May bank holiday (VE day)',
  'date': '2020-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2020-05-25',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2020-08-31',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2020-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2020-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2021-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2021-04-02', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2021-04-05',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2021-05-03',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2021-05-31',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2021-08-30',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2021-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2021-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2022-01-03',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2022-04-15', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2022-04-18',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2022-05-02',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2022-06-02',
  'notes': '',
  'bunting': True},
 {'title': 'Platinum Jubilee bank holiday',
  'date': '2022-06-03',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2022-08-29',
  'notes': '',
  'bunting': True},
 {'title': 'Bank Holiday for the State Funeral of Queen Elizabeth II',
  'date': '2022-09-19',
  'notes': '',
  'bunting': False},
 {'title': 'Boxing Day', 'date': '2022-12-26', 'notes': '', 'bunting': True},
 {'title': 'Christmas Day',
  'date': '2022-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2023-01-02',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2023-04-07', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2023-04-10',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2023-05-01',
  'notes': '',
  'bunting': True},
 {'title': 'Bank holiday for the coronation of King Charles III',
  'date': '2023-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2023-05-29',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2023-08-28',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2023-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2023-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2024-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2024-03-29', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2024-04-01',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2024-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2024-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2024-08-26',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2024-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2024-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2025-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2025-04-18', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2025-04-21',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2025-05-05',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2025-05-26',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2025-08-25',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2025-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2025-12-26', 'notes': '', 'bunting': True}]

In [25]:
flattened_data['scotland.events'][0]

[{'title': 'New Yearâ€™s Day',
  'date': '2018-01-01',
  'notes': '',
  'bunting': True},
 {'title': '2nd January', 'date': '2018-01-02', 'notes': '', 'bunting': True},
 {'title': 'Good Friday', 'date': '2018-03-30', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday',
  'date': '2018-05-07',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2018-05-28',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2018-08-06',
  'notes': '',
  'bunting': True},
 {'title': 'St Andrewâ€™s Day',
  'date': '2018-11-30',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2018-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2018-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2019-01-01',
  'notes': '',
  'bunting': True},
 {'title': '2nd January', 'date': '2019-01-02', 'notes': '', 'bunting': True},
 {'title': 'Good Friday', 'date': '2019-04-19', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday',
  'date': '2019-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2019-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2019-08-05',
  'notes': '',
  'bunting': True},
 {'title': 'St Andrewâ€™s Day',
  'date': '2019-12-02',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2019-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2019-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2020-01-01',
  'notes': '',
  'bunting': True},
 {'title': '2nd January', 'date': '2020-01-02', 'notes': '', 'bunting': True},
 {'title': 'Good Friday', 'date': '2020-04-10', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday (VE day)',
  'date': '2020-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2020-05-25',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2020-08-03',
  'notes': '',
  'bunting': True},
 {'title': 'St Andrewâ€™s Day',
  'date': '2020-11-30',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2020-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2020-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2021-01-01',
  'notes': '',
  'bunting': True},
 {'title': '2nd January',
  'date': '2021-01-04',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2021-04-02', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday',
  'date': '2021-05-03',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2021-05-31',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2021-08-02',
  'notes': '',
  'bunting': True},
 {'title': 'St Andrewâ€™s Day',
  'date': '2021-11-30',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2021-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2021-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2022-01-03',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': '2nd January',
  'date': '2022-01-04',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2022-04-15', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday',
  'date': '2022-05-02',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2022-06-02',
  'notes': '',
  'bunting': True},
 {'title': 'Platinum Jubilee bank holiday',
  'date': '2022-06-03',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2022-08-01',
  'notes': '',
  'bunting': True},
 {'title': 'Bank Holiday for the State Funeral of Queen Elizabeth II',
  'date': '2022-09-19',
  'notes': '',
  'bunting': False},
 {'title': 'St Andrewâ€™s Day',
  'date': '2022-11-30',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2022-12-26', 'notes': '', 'bunting': True},
 {'title': 'Christmas Day',
  'date': '2022-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2023-01-02',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': '2nd January',
  'date': '2023-01-03',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2023-04-07', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday',
  'date': '2023-05-01',
  'notes': '',
  'bunting': True},
 {'title': 'Bank holiday for the coronation of King Charles III',
  'date': '2023-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2023-05-29',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2023-08-07',
  'notes': '',
  'bunting': True},
 {'title': 'St Andrewâ€™s Day',
  'date': '2023-11-30',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2023-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2023-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2024-01-01',
  'notes': '',
  'bunting': True},
 {'title': '2nd January', 'date': '2024-01-02', 'notes': '', 'bunting': True},
 {'title': 'Good Friday', 'date': '2024-03-29', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday',
  'date': '2024-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2024-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2024-08-05',
  'notes': '',
  'bunting': True},
 {'title': 'St Andrewâ€™s Day',
  'date': '2024-12-02',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2024-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2024-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2025-01-01',
  'notes': '',
  'bunting': True},
 {'title': '2nd January', 'date': '2025-01-02', 'notes': '', 'bunting': True},
 {'title': 'Good Friday', 'date': '2025-04-18', 'notes': '', 'bunting': False},
 {'title': 'Early May bank holiday',
  'date': '2025-05-05',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2025-05-26',
  'notes': '',
  'bunting': True},
 {'title': 'Summer bank holiday',
  'date': '2025-08-04',
  'notes': '',
  'bunting': True},
 {'title': 'St Andrewâ€™s Day',
  'date': '2025-12-01',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2025-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2025-12-26', 'notes': '', 'bunting': True}]

In [26]:
flattened_data['northern-ireland.events'][0]

[{'title': 'New Yearâ€™s Day',
  'date': '2018-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2018-03-19',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2018-03-30', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2018-04-02',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2018-05-07',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2018-05-28',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2018-07-12',
  'notes': '',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2018-08-27',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2018-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2018-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2019-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2019-03-18',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2019-04-19', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2019-04-22',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2019-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2019-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2019-07-12',
  'notes': '',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2019-08-26',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2019-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2019-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2020-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2020-03-17',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2020-04-10', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2020-04-13',
  'notes': '',
  'bunting': False},
 {'title': 'Early May bank holiday (VE day)',
  'date': '2020-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2020-05-25',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2020-07-13',
  'notes': 'Substitute day',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2020-08-31',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2020-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2020-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2021-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2021-03-17',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2021-04-02', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2021-04-05',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2021-05-03',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2021-05-31',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2021-07-12',
  'notes': '',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2021-08-30',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2021-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Boxing Day',
  'date': '2021-12-28',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2022-01-03',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2022-03-17',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2022-04-15', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2022-04-18',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2022-05-02',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2022-06-02',
  'notes': '',
  'bunting': True},
 {'title': 'Platinum Jubilee bank holiday',
  'date': '2022-06-03',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2022-07-12',
  'notes': '',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2022-08-29',
  'notes': '',
  'bunting': True},
 {'title': 'Bank Holiday for the State Funeral of Queen Elizabeth II',
  'date': '2022-09-19',
  'notes': '',
  'bunting': False},
 {'title': 'Boxing Day', 'date': '2022-12-26', 'notes': '', 'bunting': True},
 {'title': 'Christmas Day',
  'date': '2022-12-27',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2023-01-02',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2023-03-17',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2023-04-07', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2023-04-10',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2023-05-01',
  'notes': '',
  'bunting': True},
 {'title': 'Bank holiday for the coronation of King Charles III',
  'date': '2023-05-08',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2023-05-29',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2023-07-12',
  'notes': '',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2023-08-28',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2023-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2023-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2024-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2024-03-18',
  'notes': 'Substitute day',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2024-03-29', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2024-04-01',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2024-05-06',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2024-05-27',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2024-07-12',
  'notes': '',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2024-08-26',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2024-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2024-12-26', 'notes': '', 'bunting': True},
 {'title': 'New Yearâ€™s Day',
  'date': '2025-01-01',
  'notes': '',
  'bunting': True},
 {'title': 'St Patrickâ€™s Day',
  'date': '2025-03-17',
  'notes': '',
  'bunting': True},
 {'title': 'Good Friday', 'date': '2025-04-18', 'notes': '', 'bunting': False},
 {'title': 'Easter Monday',
  'date': '2025-04-21',
  'notes': '',
  'bunting': True},
 {'title': 'Early May bank holiday',
  'date': '2025-05-05',
  'notes': '',
  'bunting': True},
 {'title': 'Spring bank holiday',
  'date': '2025-05-26',
  'notes': '',
  'bunting': True},
 {'title': 'Battle of the Boyne (Orangemenâ€™s Day)',
  'date': '2025-07-14',
  'notes': 'Substitute day',
  'bunting': False},
 {'title': 'Summer bank holiday',
  'date': '2025-08-25',
  'notes': '',
  'bunting': True},
 {'title': 'Christmas Day',
  'date': '2025-12-25',
  'notes': '',
  'bunting': True},
 {'title': 'Boxing Day', 'date': '2025-12-26', 'notes': '', 'bunting': True}]

# 3. Third API choice

In [36]:
launch = requests.get("https://ll.thespacedevs.com/2.2.0/launch/")
print("launch:", launch.status_code)

launch: 200

In [28]:
# 200: Everything went okay and the result has been returned (if any).

In [61]:
#print(launch)
#print(len(launch.content)) # needs subsciption key?
#print(launch.content) # This string is in jason format (two field status code and message)

In [62]:

#print(launch.text)

In [33]:
response = requests.get('https://ll.thespacedevs.com/2.2.0/launch/')
response.content
print(len(response.text))

25235

In [63]:
results = response.json()
#results

In [39]:
pd.set_option("display.max_rows", None)

data = pd.DataFrame(results)
#data = data[["userId", "id", "title", ]]
data

,count,next,previous,results
0,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'e3df2ecd-c239-472f-95e4-2b89b4f75800',..."
1,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'f8c9f344-a6df-4f30-873a-90fe3a7840b3',..."
2,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '535c1a09-97c8-4f96-bb64-6336d4bcb1fb',..."
3,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '1b9e28d0-c531-44b0-9b37-244e62a6d3f4',..."
4,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '48bc7deb-b2e1-46c2-ab63-0ce00fbd192b',..."
5,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '896e8af6-d256-4a5b-ab15-2f25c84e90e3',..."
6,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '74d39bb8-34a6-4a8b-8554-d2d3ec22aee6',..."
7,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'b4e501ff-083c-47d6-9ff0-63ec1bf035c3',..."
8,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '59d2de37-4c22-495f-8718-4b22f5f34ab7',..."
9,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'de282e74-e03b-411e-9633-2d1497629893',..."

In [43]:
# Gives us the most recent 30 events (Snapshot alwy<s different results)
# I make the call, out it inrto jason and turn it into a dataframe
response = requests.get('https://ll.thespacedevs.com/2.2.0/launch/')

data = pd.DataFrame(response.json())
data.head(30)

,count,next,previous,results
0,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'e3df2ecd-c239-472f-95e4-2b89b4f75800',..."
1,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'f8c9f344-a6df-4f30-873a-90fe3a7840b3',..."
2,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '535c1a09-97c8-4f96-bb64-6336d4bcb1fb',..."
3,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '1b9e28d0-c531-44b0-9b37-244e62a6d3f4',..."
4,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '48bc7deb-b2e1-46c2-ab63-0ce00fbd192b',..."
5,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '896e8af6-d256-4a5b-ab15-2f25c84e90e3',..."
6,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '74d39bb8-34a6-4a8b-8554-d2d3ec22aee6',..."
7,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'b4e501ff-083c-47d6-9ff0-63ec1bf035c3',..."
8,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': '59d2de37-4c22-495f-8718-4b22f5f34ab7',..."
9,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,"{'id': 'de282e74-e03b-411e-9633-2d1497629893',..."

In [46]:
# In the column we have dictionaries
# response jason only takes the top level 
data['results'][0]

{'id': 'e3df2ecd-c239-472f-95e4-2b89b4f75800',
 'url': 'https://ll.thespacedevs.com/2.2.0/launch/e3df2ecd-c239-472f-95e4-2b89b4f75800/',
 'slug': 'sputnik-8k74ps-sputnik-1',
 'name': 'Sputnik 8K74PS | Sputnik 1',
 'status': {'id': 3,
  'name': 'Launch Successful',
  'abbrev': 'Success',
  'description': 'The launch vehicle successfully inserted its payload(s) into the target orbit(s).'},
 'last_updated': '2023-06-14T03:48:33Z',
 'net': '1957-10-04T19:28:34Z',
 'window_end': '1957-10-04T19:28:34Z',
 'window_start': '1957-10-04T19:28:34Z',
 'net_precision': None,
 'probability': None,
 'weather_concerns': None,
 'holdreason': None,
 'failreason': None,
 'hashtag': None,
 'launch_service_provider': {'id': 66,
  'url': 'https://ll.thespacedevs.com/2.2.0/agencies/66/',
  'name': 'Soviet Space Program',
  'type': 'Government'},
 'rocket': {'id': 3003,
  'configuration': {'id': 468,
   'url': 'https://ll.thespacedevs.com/2.2.0/config/launcher/468/',
   'name': 'Sputnik 8K74PS',
   'family': 'Sputnik',
   'full_name': 'Sputnik 8K74PS',
   'variant': '8K74PS'}},
 'mission': {'id': 1430,
  'name': 'Sputnik 1',
  'description': 'First artificial satellite consisting of a 58 cm pressurized aluminium shell containing two 1 W transmitters for a total mass of 83.6 kg.',
  'launch_designator': None,
  'type': 'Test Flight',
  'orbit': {'id': 8, 'name': 'Low Earth Orbit', 'abbrev': 'LEO'},
  'agencies': [],
  'info_urls': [],
  'vid_urls': []},
 'pad': {'id': 32,
  'url': 'https://ll.thespacedevs.com/2.2.0/pad/32/',
  'agency_id': None,
  'name': '1/5',
  'description': None,
  'info_url': None,
  'wiki_url': '',
  'map_url': 'https://www.google.com/maps?q=45.92,63.342',
  'latitude': '45.92',
  'longitude': '63.342',
  'location': {'id': 15,
   'url': 'https://ll.thespacedevs.com/2.2.0/location/15/',
   'name': 'Baikonur Cosmodrome, Republic of Kazakhstan',
   'country_code': 'KAZ',
   'description': None,
   'map_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/launch_images/location_15_20200803142517.jpg',
   'timezone_name': 'Asia/Qyzylorda',
   'total_launch_count': 1543,
   'total_landing_count': 0},
  'country_code': 'KAZ',
  'map_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/launch_images/pad_32_20200803143513.jpg',
  'total_launch_count': 487,
  'orbital_launch_attempt_count': 487},
 'webcast_live': False,
 'image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/launcher_images/sputnik_8k74ps_image_20210830185541.jpg',
 'infographic': None,
 'program': [],
 'orbital_launch_attempt_count': 1,
 'location_launch_attempt_count': 1,
 'pad_launch_attempt_count': 1,
 'agency_launch_attempt_count': 1,
 'orbital_launch_attempt_count_year': 1,
 'location_launch_attempt_count_year': 1,
 'pad_launch_attempt_count_year': 1,
 'agency_launch_attempt_count_year': 1,
 'type': 'normal'}

In [47]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [50]:
pd.set_option("display.max_columns", None)
nested_columns = ['results']

flat = flatten(data, nested_columns)
flat.head(5)

,count,next,previous,results_id,results_url,results_slug,results_name,results_status,results_last_updated,results_net,results_window_end,results_window_start,results_net_precision,results_probability,results_weather_concerns,results_holdreason,results_failreason,results_hashtag,results_launch_service_provider,results_rocket,results_mission,results_pad,results_webcast_live,results_image,results_infographic,results_program,results_orbital_launch_attempt_count,results_location_launch_attempt_count,results_pad_launch_attempt_count,results_agency_launch_attempt_count,results_orbital_launch_attempt_count_year,results_location_launch_attempt_count_year,results_pad_launch_attempt_count_year,results_agency_launch_attempt_count_year,results_type
0,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,e3df2ecd-c239-472f-95e4-2b89b4f75800,https://ll.thespacedevs.com/2.2.0/launch/e3df2...,sputnik-8k74ps-sputnik-1,Sputnik 8K74PS | Sputnik 1,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2023-06-14T03:48:33Z,1957-10-04T19:28:34Z,1957-10-04T19:28:34Z,1957-10-04T19:28:34Z,None,None,None,None,None,None,"{'id': 66, 'url': 'https://ll.thespacedevs.com...","{'id': 3003, 'configuration': {'id': 468, 'url...","{'id': 1430, 'name': 'Sputnik 1', 'description...","{'id': 32, 'url': 'https://ll.thespacedevs.com...",False,https://spacelaunchnow-prod-east.nyc3.digitalo...,None,[],1,1,1,1,1,1,1,1,normal
1,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,f8c9f344-a6df-4f30-873a-90fe3a7840b3,https://ll.thespacedevs.com/2.2.0/launch/f8c9f...,sputnik-8k74ps-sputnik-2,Sputnik 8K74PS | Sputnik 2,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2023-06-14T03:48:36Z,1957-11-03T02:30:00Z,1957-11-03T02:30:00Z,1957-11-03T02:30:00Z,None,None,None,None,None,None,"{'id': 66, 'url': 'https://ll.thespacedevs.com...","{'id': 3004, 'configuration': {'id': 468, 'url...","{'id': 1431, 'name': 'Sputnik 2', 'description...","{'id': 32, 'url': 'https://ll.thespacedevs.com...",False,https://spacelaunchnow-prod-east.nyc3.digitalo...,None,[],2,2,2,2,2,2,2,2,normal
2,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,535c1a09-97c8-4f96-bb64-6336d4bcb1fb,https://ll.thespacedevs.com/2.2.0/launch/535c1...,vanguard-vanguard,Vanguard | Vanguard,"{'id': 4, 'name': 'Launch Failure', 'abbrev': ...",2023-06-14T17:43:00Z,1957-12-06T16:44:35Z,1957-12-06T16:44:35Z,1957-12-06T16:44:35Z,None,None,None,None,None,None,"{'id': 166, 'url': 'https://ll.thespacedevs.co...","{'id': 3005, 'configuration': {'id': 449, 'url...","{'id': 1432, 'name': 'Vanguard', 'description'...","{'id': 118, 'url': 'https://ll.thespacedevs.co...",False,None,None,[],3,1,1,1,3,1,1,1,normal
3,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,1b9e28d0-c531-44b0-9b37-244e62a6d3f4,https://ll.thespacedevs.com/2.2.0/launch/1b9e2...,juno-i-explorer-1,Juno-I | Explorer 1,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2023-06-14T17:40:22Z,1958-02-01T03:47:56Z,1958-02-01T03:47:56Z,1958-02-01T03:47:56Z,None,None,None,None,None,None,"{'id': 271, 'url': 'https://ll.thespacedevs.co...","{'id': 3006, 'configuration': {'id': 324, 'url...","{'id': 1433, 'name': 'Explorer 1', 'descriptio...","{'id': 193, 'url': 'https://ll.thespacedevs.co...",False,None,None,[],4,2,1,1,1,1,1,1,normal
4,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,48bc7deb-b2e1-46c2-ab63-0ce00fbd192b,https://ll.thespacedevs.com/2.2.0/launch/48bc7...,vanguard-vanguard-2,Vanguard | Vanguard,"{'id': 4, 'name': 'Launch Failure', 'abbrev': ...",2023-06-14T17:42:59Z,1958-02-05T07:33:00Z,1958-02-05T07:33:00Z,1958-02-05T07:33:00Z,None,None,None,None,None,None,"{'id': 166, 'url': 'https://ll.thespacedevs.co...","{'id': 3007, 'configuration': {'id': 449, 'url...","{'id': 1432, 'name': 'Vanguard', 'description'...","{'id': 118, 'url': 'https://ll.thespacedevs.co...",False,None,None,[],5,3,2,2,2,2,1,1,normal

In [53]:
flat['results_status'][0]

{'id': 3,
 'name': 'Launch Successful',
 'abbrev': 'Success',
 'description': 'The launch vehicle successfully inserted its payload(s) into the target orbit(s).'}

In [54]:
flat['results_launch_service_provider'][0]

{'id': 66,
 'url': 'https://ll.thespacedevs.com/2.2.0/agencies/66/',
 'name': 'Soviet Space Program',
 'type': 'Government'}

In [55]:
flat['results_rocket'][0]

{'id': 3003,
 'configuration': {'id': 468,
  'url': 'https://ll.thespacedevs.com/2.2.0/config/launcher/468/',
  'name': 'Sputnik 8K74PS',
  'family': 'Sputnik',
  'full_name': 'Sputnik 8K74PS',
  'variant': '8K74PS'}}

In [56]:
flat['results_mission'][0]

{'id': 1430,
 'name': 'Sputnik 1',
 'description': 'First artificial satellite consisting of a 58 cm pressurized aluminium shell containing two 1 W transmitters for a total mass of 83.6 kg.',
 'launch_designator': None,
 'type': 'Test Flight',
 'orbit': {'id': 8, 'name': 'Low Earth Orbit', 'abbrev': 'LEO'},
 'agencies': [],
 'info_urls': [],
 'vid_urls': []}

In [57]:
flat['results_pad'][0]

{'id': 32,
 'url': 'https://ll.thespacedevs.com/2.2.0/pad/32/',
 'agency_id': None,
 'name': '1/5',
 'description': None,
 'info_url': None,
 'wiki_url': '',
 'map_url': 'https://www.google.com/maps?q=45.92,63.342',
 'latitude': '45.92',
 'longitude': '63.342',
 'location': {'id': 15,
  'url': 'https://ll.thespacedevs.com/2.2.0/location/15/',
  'name': 'Baikonur Cosmodrome, Republic of Kazakhstan',
  'country_code': 'KAZ',
  'description': None,
  'map_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/launch_images/location_15_20200803142517.jpg',
  'timezone_name': 'Asia/Qyzylorda',
  'total_launch_count': 1543,
  'total_landing_count': 0},
 'country_code': 'KAZ',
 'map_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/launch_images/pad_32_20200803143513.jpg',
 'total_launch_count': 487,
 'orbital_launch_attempt_count': 487}

In [51]:
from pandas.io.json import json_normalize

results = response.json()
flattened_data = json_normalize(results)

flattened_data.head(30)

C:\Users\49174\AppData\Local\Temp\ipykernel_23140\792024870.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results)

,count,next,previous,results
0,7094,https://ll.thespacedevs.com/2.2.0/launch/?limi...,None,[{'id': 'e3df2ecd-c239-472f-95e4-2b89b4f75800'...